body{
	background: rgba(255,245,230,1);
	font-size: 16px; 
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding:0;
}
figure img{
	border-radius:12px;
	box-shadow:2px 2px 3px 1px #000;
	max-width:300px;
	z-index:2;
	
}
footer{
	background:	rgba(230,126,0,1);
	border:0px solid;
	bottom:0;
	box-shadow: 0px -1px 5px 1px #000;
	color: #F7FFE8;
	font-size: 1em;
	left:0;
	min-height: 150px;
	position:fixed;	
	width: 100%;
	text-align: center;
	z-index:1;
}
header{
	background:	rgba(230,126,0,1);
	color:rgba(157,93,18,1);	
	min-height:70px;
	margin:0 0 1em 0; 
	padding: 0.5em 0;
	text-align:center;
	width:100%;
}
section{
	margin:0 auto;
	text-align:center;
	width:80%;
}
#head1{
	background: rgba(159,205,0,1);

	box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
	min-height: 68px;
	width: 100%;
}
#head2{	
	background:rgba(207,33,129,1);
	background-image:url(images/logo.png);
	background-image:url(images/logo.png), -webkit-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image:url(images/logo.png), -o-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image:url(images/logo.png), -moz-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image:url(images/logo.png), -ms-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image:url(images/logo.png), linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );

	background-origin: border-box;
    background-size: auto;
    background-repeat: no-repeat;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,1);
	min-height: 54px;
	position: relative;
		top: 38px;
	width: 100%;
}
#head2-1,#head2-2{
	display: inline-block;
	vertical-align: middle;
}
#head2-1{
	font-variant: small-caps;
	width: 40%;
}
#head2-1 li{
	display: inline-block;
	font-size: 1.2em;
	padding-right: 5%;
	vertical-align: top;
}
#head2-1 li a{
	color: rgba(245,245,245,1);
	text-decoration: none;
}
#head2-1 li :hover{
	color: rgba(245,245,245,1);
	text-decoration: none;
}
#head2-2{
	color: rgba(255,255,255,0.3);
	font-family: "Arial black" sans-serif;
	font-size: 2em;
	min-width: 300px;
	width: 35%;
}
#foot1{
	background: rgba(159,205,0,1);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
	min-height: 140px;
	position: inherit;
		bottom: 0px;
	width: 100%;
}
#foot2{
	background: rgba(207,33,129,1);
/*
	background-image: -webkit-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image: -o-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image: -moz-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image: -ms-linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
	background-image: linear-gradient( top, rgb(207,33,129) 25%, rgb(177,3,99) 89% );
*/
	background-origin: border-box;
    background-size: auto;
    background-repeat: no-repeat;
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,1);
	min-height: 100px;
	position: inherit;
		bottom: 0px;
	width: 100%;
}
#foot2-1,#foot2-2{
	display: inline-block;
	vertical-align: middle;
}

.rollover {
 opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;    
    transition: opacity 0.5s ease-in-out;
}
.rollover:hover{
	opacity:0.5;
}